/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";
@import "https://unpkg.com/open-props/fonts.min.css";

/* ------------------------------------------------------------ */

body {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  letter-spacing: var(--font-letterspacing-1);
  font-family: var(--font-sans);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

p,
button {
  margin: var(--size-6);
}

button {
  display: block;
  background-color: #cfcfcf;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 2rem;
}

.container blockquote {
  background-color: lightyellow;
  font-family: var(--font-transitional);
  color: darkgreen;
  font-size: var(--font-size-00) !important;
  padding-inline: var(--size-0);
  padding-block: var(--size-1);
  /* Undo bad resets */
  border-radius: var(--radius-drawn-5);
  max-inline-size: 100%;
  display: block;
}

.container h2 {
  color: darkkhaki;
}
.container h3 {
  color: blueviolet;
}
